<style>h1 {
    border: 3.0px solid #333;
    padding: 12px 18px;
    background-color: #C8D3FD;
}

h2 {
    padding: 12px 18px;
    background-color: #C8D3FD;
}

.question {
    color: rgb(0, 96, 100);
    background: rgb(178, 235, 242);
    border: solid 1px rgb(77, 208, 225);
    padding: 10px;
}

.info {
    color: rgb(27, 94, 32);
    background: rgb(200, 230, 201);
    border: solid 1px rgb(129, 199, 132);
    padding: 10px;
}

</style>